.page-err h4 {
    /* border-bottom: 1px solid gray; */
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color: red;
    /* text-decoration: underline; */
}

.page-err-navlink {
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.page-home h1 {
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color: red;
}

.page-home-navlink {
    
}

.page-home-topic h1 {
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(86, 168, 86);
}

.page-home-navlink-image {
    /* display: block; */
    /* height: 100px; */
    display:block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
    width: 70%;
    padding-top: 15px;
}

.page-home-text {
    display: block;
    text-align: center;
    color: red;
}